.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10x;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  .dataArea{
    height:200px;
    overflow:hidden; 
    overflow-y:scroll;
  }